<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- Import icon -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/master.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>ProjetWebS4</h1>
            
            <div class="menus">
                <div class="menus_left">
                    <a href="{{ path('product_index') }}">Products</a>
                    <a href="{{ path('category_index') }}">Categories</a>
                    <a href="{{ path('brand_index') }}">Brands</a>
                </div>

                <div class="menus_right">
                    <a href="">Demo menu</a>
                </div>
            </div>
        </header>

        <main>{% block body %}{% endblock %}</main>
    </body>
</html>
